<header class="site-header">
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav" role="navigation">
      <div class="trigger" role="menubar">
        {% for pg in site.pages %}
          {% if pg.menu_exclude != true and pg.title != null %}
          <a class="page-link" href="{{ pg.url | prepend: site.baseurl }}" role="menuitem">{{ pg.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
</header>
