<nav class="side-nav" role="navigation">
  <ul role="menu">
    {% for pg in site.pages %}
      {% if pg.layout == 'category' %}
      <li role="menuitem">
        <a href="{{ pg.url }}">{{ pg.title }}</a>
        <ul>
          {% assign posts = site.categories[pg.category] | sort: 'order' %}
          {% for post in posts %}
            <li role="menuitem">
              <a href="#{{ post.url | split:'/' | last | replace:'.html' }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>


