/**
 * Sticky footer
 */

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-content {
  flex-grow: 1;
}


/**
 * Content
 */

.section {
  margin-bottom: 4rem;
  page-break-inside: avoid;

  &:focus {
    outline: none;
  }
}

.section-title {
  border-bottom: 1px solid $grey-color-light;
  color: #0E6E8C;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: $strong;
}

.section-title small {
  display: block;
  text-transform: none;
  font-weight: $base-font-weight;
}

.section-content {
  th {
    text-align: left;
  }
  th + th,
  td + td {
    padding-left: 2rem;
  }
}

.post-title {
  margin-bottom: 1.5rem;

  @include break('print') {
    display: none;
  }
}

.page-index {
  ul {
    list-style: none;
    margin-left: 0;
  }

  li {
    margin-bottom: 1rem;
  }

  h4 {
    margin-bottom: 0;
  }
}





