/**
 * Masthead
 */

.site-header {
  border-top: 4px solid $brand-color;
  border-bottom: 1px solid $grey-color-light;
  padding: .75rem 0;
  margin-bottom: 1rem;

  a {
    color: $text-color;

    &:after {
      background-color: $text-color;
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}



/**
 * Site title
 */

.site-title {
  display: block;
  font-size: 1.414em;
  margin: .25rem $spacing-unit * 2 .25rem 0;
}
