/**
 * Wrapper
 */

.wrapper {
  max-width: $body-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  box-sizing: content-box;
}



/**
 * Index
 */

.page-index {
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .page-item {
    width: 45%;
  }
}


/**
 * Content
 */

.page-category {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main {
    width: 70%;
  }
}

.category-nav {
  width: 25%;
}

@include break($md) {
  .page-category main,
  .category-nav {
    width: 100%;
  }
}
