/**
 * Wrapper
 */

.wrapper {
  max-width: $body-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  box-sizing: content-box;
}



/**
 * Index
 */

.page-index {
  .wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .section {
    width: 45%;
  }
}



/**
 * Category
 */

.page-category {
  main {
    width: 70%;
  }
}

.category-nav {
  width: 25%;
}

@include break('print') {
  .page-category main {
    width: 100%;
  }
  .category-nav {
    display: none;
  }
}



/**
 * Category (no-nav)
 */

.page-gallery {
  main {
    column-count: 3;
    column-gap: 3rem;

    @include break($md) {
      column-count: 1;
    }

    @include break('print') {
      column-count: 1;
    }
  }

  .section {
    display: inline-block;
    width: 100%;
  }
}



/**
 * Post header
 */

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1.5rem;

  .post-title {
    flex-grow: 1;
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .spinner {
    flex-shrink: 0;
    margin-right: .5rem;
  }
}


/**
 * Content
 */

.page-category,
.page-index {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post-title {
    width: 100%;
  }

  @include break($md) {
    .section, main,
    .category-nav {
      width: 100%;
    }
  }
}
