---
layout: default
---
{% assign subcategories = site.categories[page.category] | group_by: 'subcategory' | sort: 'name' %}

{% assign posts = '' | split: '' %}
{% for subcategory in subcategories %}
  {% assign tmpposts = subcategory.items | sort: 'order' %}
  {% for tmppost in tmpposts %}
    {% assign posts = posts | push: tmppost %}
  {% endfor %}
{% endfor %}
{% include categorynav.html posts=posts %}
<main>
  <h1 class="post-title">{{ page.title }}</h1>

  {% unless page.content == '' %}
  {{ page.content }}
  {% endunless %}

  {% for post in posts %}
    <article class="section" itemscope itemtype="http://schema.org/BlogPosting" id="{{ post.url | split:'/' | last | replace:'.html' }}">

      <header class="section-header">
        <h2 class="section-title" itemprop="name headline">{{ post.title }}
        {% if post.imagewidth %}<small>Image width: {{post.imagewidth}} |
            Rendered size: {% if post.imagerender %}{{post.imagerender}}{% else %}{{post.imagewidth | divided_by: 1.5 | round}}{% endif %}</small>{% endif %}
        {% if post.trigger %}<small>Trigger: {{ post.trigger }}</small>{% endif %}
        </h2>
      </header>

      <div class="section-content" itemprop="articleBody">
        {{ post.content }}
      </div>

    </article>
  {% endfor %}
</main>

