---
layout: default
---

{% assign pgs = site.pages | sort: 'order' %}

<div class="page-item">
  <h3>Email Projects</h3>
  <ul>
    {% for pg in pgs %}
    {% if pg.menu_exclude != true and pg.mailchimp != true %}
    <li><h4><a href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }}</a></h4>
      {% if pg.description %}{{pg.description}}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>

<div class="page-item">
  <h3>Mailchimp Instructions</h3>
    <ul>
      {% for pg in pgs %}
        {% if pg.menu_exclude != true and pg.mailchimp == true %}
            <li><h4><a href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }}</a></h4>
              {% if pg.description %}{{pg.description}}{% endif %}
            </li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
